body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 60, 0);
  
}

#addButton{
  background-color:white;
}

.todo{
  background-color: rgb(255, 60, 0);
}

h1{
  color: aliceblue;
}

.tasks{
  background-color: white;
}