@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Playfair Display", serif;
}

.songs {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .songs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .song {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .songs a {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    font-size: 30px;
    text-decoration: none;
  }
  
  .songs img {
    width: 100%;
    border-radius: 10px;
  }
  
  .song :hover {
    transform: scale(1.05);
    transition: 0.2s;
  }